<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="SQLConnString" connectionString="server=139.129.39.169;database=lwb_BaseDB_PlatForm;uid=sa;pwd=erli1016;" />
    <!--<add name="SQLConnString" connectionString="server=.;database=lwb_BaseDB_PlatForm;uid=sa;pwd=erli1016;" />-->
    <add name="HXKR_BaseDB_PlatFormConnectionString" connectionString="Data Source=.;Initial Catalog=lwb_BaseDB_PlatForm;User ID=sa;Password=erli1016" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MessageUser" value="4fa1dfc0703a9eb1981aa8e39ef27fc9" />
    <add key="MessagePass" value="DEA332E45F1874CE" />
    <add key="AppId" value="wx1bbadc0beedbcc39" />
    <add key="AppSecret" value="8e5ccbfbe51f453a3df5ab80094af10b" />
    <add key="paySignKey" value="chaipengyi13099000707lvweiba8888" />
    <add key="mch_id" value="1234128502" />
    <add key="fee" value="200" />
    <add key="certPath" value="D:\\LVWEIBA\\cert\\apiclient_cert.p12" />
    <add key="certpassword" value="1234128502" />
    <add key="notify_url" value="http://demo.lvwei8.com/order/HandleResultForWXPay.ashx"/>
    <add key="wx_pay_ip" value="139.129.39.169"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
    <customErrors mode="Off" />

    <sessionState mode="SQLServer" timeout="20" sqlConnectionString="Data Source=.;User ID=sa;Password=erli1016"></sessionState>
    <authentication mode="Forms">
      <forms name=".myformName" loginUrl="~/index/Login.aspx" protection="All"  timeout="1200" path="/" />
    </authentication>
    <authorization>
      <allow users="*"></allow>
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
